* {
  margin: 0;
  padding: 0;
}

body {
  height: 6000px;
  font-family: poppins;
}

body.debug * {
  outline: 1px solid red;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/* ======== _hero ======== */
.section--hero {
  background-color: #d7f5dc;
}

.section--hero .container {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section--hero .navbar__brand {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.section--hero .highlight {
  color: #f55f1d;
}

.section--hero .navbar__item {
  display: flex;
  column-gap: 30px;
}

.section--hero .navbar__link-wrapper {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 30px;
  cursor: pointer;
}

.section--hero .navbar__dropdown {
  position: relative;
}

.section--hero .navbar__dropdown-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.section--hero .navbar__dropdown-title {
  color: #000;
  font-weight: 500;
}

.section--hero .navbar__dropdown-icon {
  transition: 300ms;
}

.section--hero .navbar__dropdown.open .navbar__dropdown-icon {
  transform: rotate(180deg);
  transition: 200ms;
}

.section--hero .navbar__dropdown.open .navbar__dropdown-menu {
  opacity: 1;
  transition: 300ms;
}

.section--hero .navbar__dropdown-menu {
  opacity: 0;
  top: 32px;
  display: none;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: 300ms;
}

.section--hero .navbar__dropdown-item {
  padding: 15px 20px;
  width: 250px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  cursor: default;
}

.section.section--hero .navbar__dropdown-item:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.section--hero .navbar__dropdown-link {
  text-decoration: none;
  color: #000;
}

.section--hero .navbar__link {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.section--hero .navbar__button-wrapper {
  display: flex;
  column-gap: 30px;
}

.section--hero .navbar__button {
  border: 2px solid transparent;
  background-color: transparent;
  font-weight: 500;
  border-radius: 10px;
  font-size: 16px;
}

.section--hero .navbar__button--login {
  border: 2px solid #20b15a;
  padding: 10px 25px;
}

.section--hero .navbar__button--register {
  background-color: #20b15a;
  color: white;
  padding: 10px 20px;
}
